<!DOCTYPE html>
<html>
  <head>
    <title>FindPatients</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="container">

      <div class="header-left">
        <%= link_to(image_tag("/logo.png", { :border => '0' } ), "/", class:"logo") %>
        <%= link_to("About", "/about", class: "header-link") %>
        <%= link_to("Home", "/", class: "header-link") %>
      </div>

      <div class="header-right">
        <div class="search-form-res">
          <%= form_tag results_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], class: "search-result" %>
              <%= submit_tag " Find ", :name => nil %>
          <% end %>
        </div>
      </div>

    </div>
  </header>


  <body>
    <footer>
    <!-- signiture -->
    <div class="container-footer">
      <div class="signiture">
        <span>Copyright (C) 2018
          <%= link_to("Sasaki Kensuke", "https://qiita.com/sasaki_K_sasaki") %>
         All Rights Reserved. 　 CONTACT : sskcoobbbn5@y.co.jp</span>
      </div>
    </footer>
    <%= yield %>
  </body>
</html>
